fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv

chromadb
sentence-transformers

pypdf
beautifulsoup4
requests
transformers
datasets
torch
scikit-learn
pandas
numpy
accelerate
evaluate